<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        <table>
            <tr>
                <td>email: </td>
                <td><input name="email" type="text" placeholder="請輸入信箱" value="123" /></td>
            </tr>
            <tr>
                <td>password: </td>
                <td><input name="password" type="text" placeholder="請輸入密碼" value="123" /></td>
            </tr>
            <tr>
                <td>username: </td>
                <td><input name="username" type="text" placeholder="請輸入名字" value="123" /></td>
            </tr>
            <tr>
                <td>age: </td>
                <td><input name="age" type="text" placeholder="請輸入年齡" value="123" /></td>
            </tr>            
        </table>
        <a href="/">回首頁</a>
        <button>送出</button>
    </form>
</body>
</html>