<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>在此登入</h3>
    <form action="/login" method="post">
        <table>
            <tr>
                <td>帳號: </td>
                <td><input name="email" type="text" placeholder="請輸入信箱"  /></td>
            </tr>
            <tr>
                <td>密碼: </td>
                <td><input name="password" type="text" placeholder="請輸入密碼" /></td>
            </tr>
        </table>
        <a href="/">回首頁</a>
        <button>送出</button>
    </form>
</body>
</html>